<div *ngIf="identidad" class="content">
    <div>
        <h1>{{ titulo }}</h1>
        <form #formularioEditar="ngForm" (ngSubmit)="editarUsuario()">
            <input class="form-control col-md-8" type="text" #nombre="ngModel" name="nombre" [(ngModel)]="usuario.nombre" required placeholder="Nombre" />
            <br>
            <input class="form-control col-md-8" type="text" #apellido="ngModel" name="apellido" [(ngModel)]="usuario.apellido" required placeholder="Apellido" />
            <br>
            <input class="form-control col-md-8" type="text" #correo="ngModel" name="correo" [(ngModel)]="usuario.correo" required placeholder="Correo" />
            <br>

            <div class="subirImgUsuario" *ngIf="usuario.imagen && usuario.imagen != 'null'">
                <img width="200" height="200" src="{{ url + 'obtener-imagen-usuario/' + usuario.imagen}}" />
            </div>
            <br>
            <input class="form-control col-md-8" type="file" placeholder="Suba su imagen" (change)="subirArchivo($event)" />
            <br>
            <button type="submit" class="btn btn-success">Actualizar datos</button>
        </form>
    </div>
</div>
