* {
    font-family: 'Arimo', sans-serif;
    margin: none;
}

header {
    background-color: #000;
    color: #FFF;
    height: 65px;
    position: sticky;
    top: 0px;
    padding: 1em;
    z-index: 1;
}

.logo {
    width: 30%;
    float: left;
    /* padding: 10px; */
}

.img-logo {
    height: 60px;
}

.lateral {
    background-color: darkgray;
    text-align: center;
}

.logo-lateral {
    width: 70%;
}

.img-usuario {
    width: 50%;
    border-radius: 50%;
}

a,
a:hover,
a:visited {
    color: #670F8C;
}

.content {
    margin: 2%;
}