<div class="row">
    <div *ngIf="identidad" class="col-md-2 lateral">
        <!-- <h1>{{ titulo }}</h1> -->
        <img class="logo-lateral bd-sidebar" src="assets/img/logo.png" alt="Bit Music">
        <div id="nav">

            <ul class="nav flex-column">
                <li class="nav-item">
                    <i class="fa fa-search"></i><a class="nav-link" href="#">Buscar</a>
                </li>
                <li class="nav-item">
                    <i class="fas fa-users"></i><a class="nav-link" href="#">Artista</a>
                </li>
                <li class="nav-item">
                    <i class="fas fa-music"></i><a class="nav-link" href="#">Album</a>
                </li>
            </ul>
            <br>
            <nav id="menu_user">
                <ul class="nav flex-column">
                    <div class="imagenUsuario">
                        <img id="imgUsuario" class="img-usuario" src="{{ url + 'obtener-imagen-usuario/' + identidad.imagen}}" />
                    </div>
                    <p>Bienvenido <span id="nombre-usuario">{{ identidad.nombre }}</span></p>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/mis-datos']">Mis datos</a>
                    </li>
                    <li class="nav-item">
                        <button (click)="cerrarSesion()" class="btn btn-danger">Cerrar Sesión</button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div *ngIf="identidad" class="col-md-9">
        <!-- <editar-usuario></editar-usuario> -->
        <router-outlet></router-outlet>
    </div>
</div>

<div *ngIf="!identidad" class="container">
    <br><br>
    <div class="row">
        <div class="col-md">
            <h1>Login</h1>
            <form #loginForm="ngForm" (ngSubmit)="loguear()">
                <input class="form-control" type="text" #correo="ngModel" name="correo" [(ngModel)]="usuario.correo" required placeholder="Correo" />
                <br>
                <input class="form-control" type="password" #contrasena="ngModel" name="contrasena" [(ngModel)]="usuario.contrasena" required placeholder="Contraseña" />
                <br>
                <button type="submit" class="btn btn-success">Iniciar Sesión</button>
            </form>
        </div>


        <div class="col-md">
            <h1>Registro</h1>
            <form #formularioRegistro="ngForm" (ngSubmit)="registrarUsuario()">
                <input class="form-control" type="text" #nombre="ngModel" name="nombre" [(ngModel)]="usuarioRegistro.nombre" required placeholder="Nombre" />
                <br>
                <input class="form-control" type="text" #apellido="ngModel" name="apellido" [(ngModel)]="usuarioRegistro.apellido" required placeholder="Apellido" />
                <br>
                <input class="form-control" type="text" #correo="ngModel" name="correo" [(ngModel)]="usuarioRegistro.correo" required placeholder="Correo" />
                <br>
                <input class="form-control" type="password" #contrasena="ngModel" name="contrasena" [(ngModel)]="usuarioRegistro.contrasena" required placeholder="Contraseña" />
                <br>
                <button type="submit" class="btn btn-success">Registrarme</button>
            </form>
        </div>
    </div>
</div>
